/*
:root {
  --textcolor: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
  color: var(--textcolor);
  background: var(--white);
}

.header {
  background: var(--white);
  padding: 24px 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-right: 76px;
}

.logo-text-iris {
  color: var(--iris);
}

.logo-text-navy {
  color: var(--navy-blue);
}

.logo-text-white {
  color: var(--cloud);
}
.logo-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.menu-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  text-decoration: none;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  font-family: var(--font-family);
}

.contacts {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-left: 332px;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-link {
  text-decoration: none;
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: var(--font-family);
  display: block;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--iris);
}

.main-page {
  background: var(--navy-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  flex-direction: column;
  gap: 48px;
}

.main-page-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  font-family: var(--font-family);
  text-align: center;

  margin: 0;
}

.btn-primary {
  padding: 16px 32px;
  background: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--iris);
}

.advantage-page {
  padding: 120px 156px;
  background: var(--white);
}

.advantage-page-title {
  display: none;
}

.advantage-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantage-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: var(--font-family);
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.advantage-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--slate);
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-page {
  background: var(--cloud);
  padding: 120px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-family);
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member {
  text-decoration: none;
  color: inherit;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  background: var(--white);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: block;
  cursor: pointer;
}

.team-member:hover,
.team-member:focus {
  transform: translateY(-4px);
  background: var(--iris);
}

.team-img {
  object-fit: cover;
  margin: 0px;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 8px;
  font-family: var(--font-family);
  color: var(--navy-blue);
}

.team-role {
  font-size: 16px;
  color: var(--slate);
  font-family: var(--font-family);
  margin: 0px;
}

.portfolio {
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 120px 156px;
  margin: 0px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
/*line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding: 0px;
  margin-bottom: 72px;
}

.portfolio-list-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  padding: 0px;
  margin-bottom: 48px;
}

.portfolio-item {
  text-decoration: none;
  color: inherit;

  padding: 0px;
  margin: 0px;
  background: var(--white);
  display: block;
  flex-direction: column;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus {
  transform: translateY(-4px);
  background: var(--iris);
}

.portfolio-item-img {
  margin: 0px;
  padding: 0px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
/*line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 0px;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
/*line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 0px;
  margin-left: 16px;
  margin-bottom: 32px;
  margin-top: 0px;
}

.footer {
  background: var(--navy-blue);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 312px;
  color: var(--cloud);
  padding-top: 50px;
  padding-left: 156px;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  margin: 0px;
  letter-spacing: 0.02em;
}
*/

/* styles.css */

:root {
  --textcolor: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--textcolor);
  background-color: var(--white);
}

.header {
  background-color: var(--white);
}

.nav-wrapper {
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
}

.logo-text {
  color: var(--navy-blue);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-link {
  text-decoration: none;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.main-page {
  background-color: var(--navy-blue);
  text-align: center;
}

.main-page-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0;
}

.btn-primary {
  background-color: var(--iris);
  color: var(--white);
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--ocean);
}

.advantage-page {
  background-color: var(--white);
}

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-page {
  background-color: var(--cloud);
  text-align: center;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin: 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

.portfolio {
  background-color: var(--white);
  text-align: center;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin: 0;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0;
}

.portfolio-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

.footer {
  background-color: var(--navy-blue);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  margin: 0;
}
